




// Slider
script(src="js/index/slider.js")

// Global Script
script(src="js/global/global.js")

// Website Script
script(src="js/index/script.js")

//- Gulp Live Reload
script(src="http://localhost:35729/livereload.js")

// Firebase Script
script(type="module").
  //- Ù„ØªÙ‡ÙŠØ¦Ø© Ø§Ù„ØªØ·Ø¨ÙŠÙ‚ Firebase   Ù…Ù† Ø§Ù„  Object  Ø§Ø³ØªØ¯Ø¹Ø§Ø¡
  //- Import the functions you need from the SDKs you need
  //- call Object from the Firebase to Initialize app
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-app.js";


  //- Your web app's Firebase configuration
  //- For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAcCwWbrWY4FjFBYkNSp_BQOjNiDoNjbmc",
    authDomain: "codepwa.firebaseapp.com",
    projectId: "codepwa",
    storageBucket: "codepwa.appspot.com",
    messagingSenderId: "248459805773",
    appId: "1:248459805773:web:43a36e56a2c70cdb0b4804",
    measurementId: "G-E310W66C9K"
  };



  //- ØªÙ‡ÙŠØ¦Ø© Ø§Ù„ØªØ·Ø¨ÙŠÙ‚
  //- initialize firebase App
  const app = initializeApp(firebaseConfig);
  // console.log('app: ', app);





  // getFirestore   || Ø§Ø³ØªÙŠØ±Ø§Ø¯ Ù‚Ø§Ø¹Ø¯Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª 
  // Collection     || database Ø§Ø³ØªÙŠØ±Ø§Ø¯ Ø§Ù„Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…Ù† 
  // getDocs        || Ø§Ø³ØªÙŠØ±Ø§Ø¯ Ø¨ÙŠØ§Ù†Ø§Øª Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…Ø­Ø¯Ø¯Ø© 
  // onSnapshot     || Ø­ØµÙˆÙ„ Ø¹Ù„Ù‰ Ø§Ù„ØªØ­Ø¯ÙŠØ«Ø§Øª Ø§Ù„Ù…Ø³ØªÙ…Ø±Ø© Ø¹Ù„Ù‰ Ø§Ù„ÙˆØ«Ø§Ø¦Ù‚ ÙÙŠ Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…Ø­Ø¯Ø¯Ø©
  // addDoc         || ØªØ³ØªØ®Ø¯Ù… Ù„Ø¥Ø¶Ø§ÙØ© ÙˆØ«ÙŠÙ‚Ø© Ø¬Ø¯ÙŠØ¯Ø© Ø¥Ù„Ù‰ Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…Ø­Ø¯Ø¯Ø©
  // deleteDoc      || ØªØ³ØªØ®Ø¯Ù… Ù„Ø­Ø°Ù ÙˆØ«ÙŠÙ‚Ø© Ù…Ø­Ø¯Ø¯Ø© Ù…Ù† Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…Ø­Ø¯Ø¯Ø©
  // Doc            || ØªØ³ØªØ®Ø¯Ù… Ù„Ù„Ø­ØµÙˆÙ„ Ø¹Ù„Ù‰ Ù…Ø±Ø¬Ø¹ Ù„ÙˆØ«ÙŠÙ‚Ø© Ù…Ø­Ø¯Ø¯Ø© ÙÙŠ Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…Ø­Ø¯Ø¯Ø©
  // Query          || ØªØ³ØªØ®Ø¯Ù… Ù„ØªØ­Ø¯ÙŠØ¯ Ø§Ù„Ø§Ø³ØªØ¹Ù„Ø§Ù… Ø§Ù„Ø°ÙŠ ÙŠØ³ØªØ®Ø¯Ù… Ù„Ù„Ø­ØµÙˆÙ„ Ø¹Ù„Ù‰ Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…Ø­Ø¯Ø¯Ø© Ù…Ù† Ø§Ù„ÙˆØ«Ø§Ø¦Ù‚
  // Where          || ØªØ³ØªØ®Ø¯Ù… Ù„ØªØ­Ø¯ÙŠØ¯ Ø´Ø±Ø· Ø§Ù„Ø§Ø³ØªØ¹Ù„Ø§Ù… Ù„Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø§Ù„ÙˆØ«Ø§Ø¦Ù‚
  // orderBy        || ØªØ³ØªØ®Ø¯Ù… Ù„ØªØ­Ø¯ÙŠØ¯ Ø§Ù„Ø·Ø±ÙŠÙ‚Ø© Ø§Ù„ØªÙŠ ÙŠØ¬Ø¨ ØªØ±ØªÙŠØ¨ Ø¨Ù‡Ø§ Ø§Ù„ÙˆØ«Ø§Ø¦Ù‚ ÙÙŠ Ø§Ù„Ø§Ø³ØªØ¹Ù„Ø§Ù…
  // serverTimestamp|| ØªØ³ØªØ®Ø¯Ù… Ù„Ø¥Ø¶Ø§ÙØ© Ø§Ù„ÙˆÙ‚Øª Ø§Ù„Ø­Ø§Ù„ÙŠ ÙÙŠ Ù‚Ø§Ø¹Ø¯Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
  // getDoc         || Firebase Firestore database ØªØ³ØªØ®Ø¯Ù… Ù„Ù„Ø­ØµÙˆÙ„ Ø¹Ù„Ù‰ ÙˆØ«ÙŠÙ‚Ø© Ù…Ø­Ø¯Ø¯Ø© Ù…Ù† 
  // updateDoc      || Firebase Firestore database ØªØ³ØªØ®Ø¯Ù… Ù„ØªØ­Ø¯ÙŠØ« ÙˆØ«ÙŠÙ‚Ø© Ù…Ø­Ø¯Ø¯Ø© ÙÙŠ 
  // enableIndexedDbPersistence|| Ù„ØªÙ…ÙƒÙŠÙ† Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ù…ØªØµÙ„Ø© Ø¨Ø§Ù„Ø´Ø¨ÙƒØ© ÙˆØºÙŠØ± Ø§Ù„Ù…ØªØµÙ„Ø© Ø¨Ø§Ù„Ø´Ø¨ÙƒØ©

  import {
    getFirestore, 
    collection,
    getDocs,
    onSnapshot,
    addDoc,
    setDoc,
    deleteDoc,
    doc,
    getDoc,
    query,
    where,
    orderBy,
    serverTimestamp,
    updateDoc,
    enableIndexedDbPersistence,
  } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-firestore.js";



  // getAuth      || Firebase ØªØ¹ÙŠØ¯ ÙƒØ§Ø¦Ù†Ù‹Ø§ ÙŠÙ…ÙƒÙ† Ø§Ø³ØªØ®Ø¯Ø§Ù…Ù‡ Ù„Ù„Ø­ØµÙˆÙ„ Ø¹Ù„Ù‰ Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø§Ù„Ù…ØµØ§Ø¯Ù‚Ø© ÙÙŠ 
  // signOut      || Ø§Ù„Ø­Ø§Ù„ÙŠ Firebase  ÙŠØ³ØªØ®Ø¯Ù… Ù„ØªØ³Ø¬ÙŠÙ„ Ø§Ù„Ø®Ø±ÙˆØ¬ Ù…Ù† Ø­Ø³Ø§Ø¨ 
  // createUserWithEmailAndPassword||  ÙŠØ³ØªØ®Ø¯Ù… Ù„Ø¥Ù†Ø´Ø§Ø¡ Ø­Ø³Ø§Ø¨ Ø¬Ø¯ÙŠØ¯ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… Ø¹Ù†ÙˆØ§Ù† Ø§Ù„Ø¨Ø±ÙŠØ¯ Ø§Ù„Ø¥Ù„ÙƒØªØ±ÙˆÙ†ÙŠ ÙˆÙƒÙ„Ù…Ø© Ø§Ù„Ù…Ø±ÙˆØ± Ø§Ù„Ù…Ø¹Ø·Ø§Ø©.
  // signInWithEmailAndPassword|| ÙŠØ³ØªØ®Ø¯Ù… Ù„ØªØ³Ø¬ÙŠÙ„ Ø§Ù„Ø¯Ø®ÙˆÙ„ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… Ø§Ù„Ø¨Ø±ÙŠØ¯ Ø§Ù„Ø¥Ù„ÙƒØªØ±ÙˆÙ†ÙŠ ÙˆÙƒÙ„Ù…Ø© Ø§Ù„Ù…Ø±ÙˆØ±.
  // onAuthStateChanged|| ÙŠØ³ØªØ®Ø¯Ù… Ù„ØªØ­Ø¯ÙŠØ« Ø§Ù„ØªØ·Ø¨ÙŠÙ‚ Ø¹Ù†Ø¯ ØªØºÙŠÙŠØ± Ø­Ø§Ù„Ø© Ø§Ù„Ù…ØµØ§Ø¯Ù‚Ø© Ù„Ù…Ø³ØªØ®Ø¯Ù… 
  // FirebaseØŒ ÙŠØ³ØªÙ…Ø¹ Ù„Ù„ØªØºÙŠÙŠØ±Ø§Øª ÙˆÙŠÙ†ÙØ° Ø§Ù„ÙˆØ¸Ø§Ø¦Ù Ø§Ù„Ù…Ø­Ø¯Ø¯Ø© Ù„Ù‡Ø°Ù‡ Ø§Ù„ØªØºÙŠÙŠØ±Ø§Øª.
  // updateProfile || ØªØ­Ø¯ÙŠØ« Ù…Ù„Ù ØªØ¹Ø±ÙŠÙ Ø§Ù„Ù…Ø³ØªØ®Ø¯Ù…
  // updatePhoneNumber || ØªØ­Ø¯ÙŠØ« Ø±Ù‚Ù… Ø§Ù„ØªÙ„ÙÙˆÙ†

  import {
    getAuth,
    createUserWithEmailAndPassword,
    signOut,
    signInWithEmailAndPassword,
    onAuthStateChanged,
    updateProfile,
    updatePhoneNumber
  } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-auth.js";




  // getStorage   || Ø§Ø³ØªÙŠØ±Ø§Ø¯ ØªØ®Ø²ÙŠÙ† Ø§Ù„Ø³Ø­Ø§Ø¨Ø© 
  // ref          || Ø§Ø¹ØªØ¨Ø§Ø± Ø§Ù„Ù…Ø±Ø¬Ø¹ ÙƒÙ…Ø¤Ø´Ø± Ù„Ù…Ù„Ù ÙÙŠ Ø§Ù„Ø³Ø­Ø§Ø¨Ø©
  // uploadBytesResumable ||
  // 
  import {
    getStorage,
    ref, 
    uploadBytes,
    uploadBytesResumable,
    getDownloadURL 
  } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-storage.js";

  // init services ( Database ) || ØªÙ‡ÙŠØ¦Ø© Ø®Ø¯Ù…Ø§Øª Ù‚Ø§Ø¹Ø¯Ø© Ø¨ÙŠØ§Ù†Ø§Øª
  const Database = getFirestore();
  //- console.log("Database: ", Database);

  // (AUTH) ÙƒØ§Ø¦Ù† Ø§Ù„Ø§ØªØµØ§Ù„ Ù…Ù† Firebase Ù„ØªÙ‡ÙŠØ¦Ø© Ø§Ù„Ø®Ø¯Ù…Ø§Øª
  // Call Object From The Firebase To Initialize Services ( Auth )
  const Auth = getAuth();
  // console.log("Auth: ", Auth);

  // Ø§Ø­ØµÙ„ Ø¹Ù„Ù‰ Ø¥Ø´Ø§Ø±Ø© Ø¥Ù„Ù‰ Ø®Ø¯Ù…Ø© Ø§Ù„ØªØ®Ø²ÙŠÙ† 
  // ØŒ ÙˆØ§Ù„ØªÙŠ ÙŠØªÙ… Ø§Ø³ØªØ®Ø¯Ø§Ù…Ù‡Ø§ Ù„Ø¥Ù†Ø´Ø§Ø¡ Ù…Ø±Ø§Ø¬Ø¹ ÙÙŠ Ø¯Ù„Ùˆ Ø§Ù„ØªØ®Ø²ÙŠÙ† Ø§Ù„Ø®Ø§Øµ Ø¨Ùƒ
  // Get a reference to the storage service, which is used to create references in your storage bucket
  const storage = getStorage();
  //- console.log('storage: ', storage);

  // Ù‚Ù… Ø¨Ø¥Ù†Ø´Ø§Ø¡ Ù…Ø±Ø¬Ø¹ ØªØ®Ø²ÙŠÙ† Ù…Ù† Ø®Ø¯Ù…Ø© Ø§Ù„ØªØ®Ø²ÙŠÙ† Ù„Ø¯ÙŠÙ†Ø§
  // Create a storage reference from our storage service
  // const storageRef = ref(storage);
  //- console.log('storageRef: ', storageRef); 

  // Get The Collection From Database by Collection Name
  // Ø§Ø­ØµÙ„ Ø¹Ù„Ù‰ Ø§Ù„Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…Ù† Ù‚Ø§Ø¹Ø¯Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø­Ø³Ø¨ Ø§Ø³Ù… Ø§Ù„Ù…Ø¬Ù…ÙˆØ¹Ø©
  // collection ref
  const colRefUsers = collection(Database, "users");
  const colRefCreatePostDoctor = collection(Database, "postDoctor");
  //- console.log("colRef: ", colRef);

  // IndexedDB ÙØ­Øµ Ø¥Ù…ÙƒØ§Ù†ÙŠØ© Ø¯Ø¹Ù… Ù…ØªØµÙØ­ Ø§Ù„ÙˆÙŠØ¨ Ù„Ù‚Ø§Ø¹Ø¯Ø© Ø¨ÙŠØ§Ù†Ø§Øª 
  if ("indexedDB" in window) {
    console.log("IndexedDB Is Supported In This Browser");
    enableIndexedDbPersistence(Database)
      .then(() => {
        // IndexedDB ØªÙ…ÙƒÙŠÙ† Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ØºÙŠØ± Ø§Ù„Ù…ØªØµÙ„Ø© Ø¨Ø§Ù„Ø¥Ù†ØªØ±Ù†Øª 
        console.log(`Enable Offline Data Successful`);
      })
      .catch((err) => {
        if (err.code === "failed-precondition") {
          // Ù„Ø§ ÙŠÙ…ÙƒÙ† ØªÙ…ÙƒÙŠÙ† Ø§Ù„Ø«Ø¨Ø§Øª Ø§Ù„ÙØ§Ø´Ù„ Ø¥Ù„Ø§ ÙÙŠ Ø¹Ù„Ø§Ù…Ø© ØªØ¨ÙˆÙŠØ¨ ÙˆØ§Ø­Ø¯Ø© ÙÙŠ ÙˆÙ‚Øª ÙˆØ§Ø­Ø¯.
          console.log(
            "failed persistence can only be enabled in one tab at a time."
          );
        } else if (err.code === "unimplemented") {
          // Ù„Ø§ ÙŠØ¯Ø¹Ù… Ø§Ù„Ù…ØªØµÙØ­ Ø§Ù„Ø­Ø§Ù„ÙŠ Ø¬Ù…ÙŠØ¹ Ø§Ù„Ù…ÙŠØ²Ø§Øª Ø§Ù„Ù…Ø·Ù„ÙˆØ¨Ø© Ù„ØªÙ…ÙƒÙŠÙ† Ø§Ù„Ø«Ø¨Ø§Øª
          console.log(
            "The current browser does not support all of the features required to enable persistence."
          );
        }
      });
  } else {
    // IndexedDB is not supported
    console.error("IndexedDB is not supported in this browser");
  }


  // SignUp
  // js Form Validate
  let formSignUp = document.querySelector(`#form-signUp`);
  let inputPhotoURL = document.querySelector(`#form-signUp [name='inputPhotoURL']`);
  let inputDisplayNameSignUp = document.querySelector(`#form-signUp [name='inputDisplayName']`);
  let inputPhoneNumberSignUp = document.querySelector(`#form-signUp [name='inputPhoneNumber']`);
  let inputEmailSignUp = document.querySelector(`#form-signUp [name='inputEmail']`);
  let inputPasswordSignUp = document.querySelector(`#form-signUp [name='inputPassword']`);

  // Form Error
  let errorFormSignUp = document.querySelector(`.error-form-signUp`);
  let errorFormTextSignUp = document.querySelector(`.error-form-signUp .inner-error`);
  let errorFormInputSignUp = document.querySelector(`.error-form-signUp .input-name-error`);
  let errorFormIconCloseSignUp = document.querySelector(`.error-form-signUp .close-icon`);
  errorFormIconCloseSignUp.addEventListener(`click`, () => {
    errorFormSignUp.classList.remove(`error-form-show`);
  });
  formSignUp.addEventListener("submit", (e) => {
    e.preventDefault();

    // Check Input Validity
    let displayNameValid = false;
    let phoneNumberValid = false;
    let emailValid = false;
    let passwordValid = false;

    // Condition => Display Name
    if (inputDisplayNameSignUp.value === ``) {
      //=> Condition: Input Is Not Empty
      errorFormInputSignUp.textContent = `Check Display Name`;
      errorFormTextSignUp.textContent = "Error Display Name Is Empty";
      errorFormSignUp.classList.add(`error-form-show`);
    } else if (inputDisplayNameSignUp.value.length <= 10) {
      // Condition || Input Value Length Smaller Than 10 Chars
      errorFormInputSignUp.textContent = `Check Display Name`;
      errorFormTextSignUp.textContent = "Error Display Name Is Smaller Than 10 Chars";
      errorFormSignUp.classList.add(`error-form-show`);
    } else if (inputDisplayNameSignUp.value !== ``) {
      //=> All Condition Is Ok
      displayNameValid = true;
    }

    // Condition => Phone Number
    if (inputPhoneNumberSignUp.value === ``) {
      //=> Condition: Input Is Not Empty
      errorFormInputSignUp.textContent = `Check Phone Number`;
      errorFormTextSignUp.textContent = "Error Phone Number Is Empty";
      errorFormSignUp.classList.add(`error-form-show`);
    } else if (inputPhoneNumberSignUp.value.length <= 10) {
      // Condition || Input Value Length Smaller Than 10 Chars
      errorFormInputSignUp.textContent = `Check Phone Number`;
      errorFormTextSignUp.textContent = "Error Phone Number Is Smaller Than 10 Chars";
      errorFormSignUp.classList.add(`error-form-show`);
    } else if (inputPhoneNumberSignUp.value !== ``) {
      //=> All Condition Is Ok
      phoneNumberValid = true;
    }

    //=> Ø§Ù„ØªØ­Ù‚Ù‚ Ù…Ù† ØµØ­Ø© Ø§Ù„Ø¨Ø±ÙŠØ¯ Ø§Ù„Ø¥Ù„ÙƒØªØ±ÙˆÙ†ÙŠ
    //=> Email Validation
    const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    if (inputEmailSignUp.value === ``) {
      //=> Condition: Input Is Not Empty
      errorFormInputSignUp.textContent = `Check Email`;
      errorFormTextSignUp.textContent = "Error Email Is Empty";
      errorFormSignUp.classList.add(`error-form-show`);
    } else if (!regex.test(inputEmailSignUp.value)) {
      //=> Condition: Input Email Validation
      errorFormInputSignUp.textContent = `Check Email`;
      errorFormTextSignUp.textContent = "The Email Is Not Valid";
      errorFormSignUp.classList.add(`error-form-show`);
    } else if (inputEmailSignUp.value !== ``) {
      //=> All Condition Is Ok
      emailValid = true;
    }

    //=> Password Condition 
    if (inputPasswordSignUp.value === ``) {
      //=> Condition: Input Is Not Empty
      errorFormInputSignUp.textContent = `Check Password`;
      errorFormTextSignUp.textContent = "Error Password Is Empty";
      errorFormSignUp.classList.add(`error-form-show`);
    } else if (inputPasswordSignUp.value.trim().length <= 10) {
      //=> Condition: Input Is Not Empty
      errorFormInputSignUp.textContent = `Check Password`;
      errorFormTextSignUp.textContent =
        "Error Password Must To Be Greater Than 10 Characters";
      errorFormSignUp.classList.add(`error-form-show`);
    } else if (inputPasswordSignUp.value.trim() !== ``) {
      //=> All Condition Is Ok
      passwordValid = true;
    }

    if (displayNameValid === true && phoneNumberValid === true && emailValid === true && passwordValid === true) {
      //- Input Value
      const filePhotoURL = formSignUp.inputPhotoURL.files[0];
      const photoURL = formSignUp.inputPhotoURL.files[0];
      const displayName = formSignUp.inputDisplayName.value;
      const phoneNumber = formSignUp.inputPhoneNumber.value;
      const email = formSignUp.inputEmail.value;
      const password = formSignUp.inputPassword.value;
      const downloadURLUser = ``;
      console.log('downloadURLUser: ', downloadURLUser);
      //-  SignUp Use 
      // ØªØ³Ø¬ÙŠÙ„ Ø§Ù„Ø¯Ø®ÙˆÙ„ Ø¹Ù† Ø·Ø±ÙŠÙ‚ Ø§Ù„Ø§ÙŠÙ…ÙŠÙ„ ÙˆÙƒÙ„Ù…Ø© Ø§Ù„Ù…Ø±ÙˆØ±
      createUserWithEmailAndPassword(Auth, email, password)
        .then((userCredential) => {
          const currentUser = userCredential;
          //- console.log('currentUser: ', currentUser);
          // userCredential || Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ø¹ØªÙ…Ø§Ø¯ Ø§Ù„Ù…Ø³ØªØ®Ø¯Ù…
          const user = userCredential.user;
          //- console.log("user created:", user);
          const uid = user.uid;
          //- console.log('uid: ', uid);
          // ØªØºÙŠÙŠØ± Ø§Ø³Ù… Ø§Ù„Ø¹Ø±Ø¶ Ø¥Ø°Ø§ Ù„Ø²Ù… Ø§Ù„Ø£Ù…Ø±
          if (inputDisplayNameSignUp) {
            updateProfile(user, { displayName: displayName });
          }
          // ØªØºÙŠÙŠØ± Ø±Ù‚Ù… Ø§Ù„Ù‡Ø§ØªÙ Ø¥Ø°Ø§ Ù„Ø²Ù… Ø§Ù„Ø£Ù…Ø±
          if (phoneNumber) {
            updatePhoneNumber(user, phoneNumber).then(() => {
              console.log("Phone number updated successfully");
            });
          }
          // Upload User Photo To Firebase Storage And Update User Profile PhotoURL
          if (photoURL) {
            /*
            // Create the file metadata
            const metadata = {
              contentType: filePhotoURL.type
            };
            const storageRef = ref(storage, `users/${uid}/profile_photo`);
            const uploadTask = uploadBytesResumable(storageRef, filePhotoURL, metadata);
            // Listen for state changes, errors, and completion of the upload.
            uploadTask.on('state_changed', (snapshot) => {
              // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
              const progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
              console.log('Upload is ' + progress + '% done');
            },(error) => {
              console.log(`Error Catch Message`, error.message);
            }, () => {
              // Handle successful uploads on complete
              // For instance, get the download URL: https://firebasestorage.googleapis.com/...
              getDownloadURL(uploadTask.snapshot.ref).then((downloadURL) => {
                console.log('File available at', downloadURL);
                //- downloadURLUser = downloadURL;
              });
            });
            updateProfile(user, { photoURL: downloadURLUser });
            */
            const storageRef = ref(storage, `users/${uid}/profile_photo`);
            console.log('storageRef: ', storageRef);
            uploadBytes(storageRef, photoURL).then((snapshot) => {
              getDownloadURL(snapshot.ref).then((downloadURL) => {
                console.log('downloadURL: ', downloadURL);
                //- Add User To Collection Users
                // ØªÙ…Ø±ÙŠØ± Ù…Ø³Ø§Ø± Ø§Ù„Ù…Ø³ØªÙ†Ø¯ Ø§Ù„Ø®Ø§Øµ Ø¨Ø§Ù„Ù…Ø³ØªØ®Ø¯Ù…
                const userRef = doc(colRefUsers, uid); 
                // object Ø¥Ù†Ø´Ø§Ø¡  ØªØ§Ø±ÙŠØ® ÙˆÙˆÙ‚Øª
                const now = new Date();
                const objectCreatedAt = {
                  date: now.getDate() + "/" + (now.getMonth() + 1) + "/" + now.getFullYear(),
                  time: now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds()
                };
                //- console.log('objectCreatedAt: ', objectCreatedAt);
                //- console.log('objectCreatedAt: ', `${objectCreatedAt.date}/${objectCreatedAt.time}`);
                setDoc(userRef, {
                  photoURL: downloadURL,
                  displayName: displayName,
                  phoneNumber: phoneNumber,
                  email: email,
                  password: password,
                  useId: uid,
                  createdAt: serverTimestamp(),
                  obCreatedAt: objectCreatedAt,
                }) 
                  .then(() => {
                    formSignUp.reset();
                  })
                  .catch((error) => {
                    console.log(error)
                    });

              });
            });
          }

          let sectionSignUp = document.querySelector(`body section.signUp`);
          sectionSignUp.classList.toggle(`show-signUp`);
          //- errorForm.classList.toggle(`error-form-show`);
        })
        .catch((error) => {
          errorFormInputSignUp.textContent = `Check Error`;
          errorFormTextSignUp.textContent = `The Error Is ${error.message}`;
          errorFormSignUp.classList.add(`error-form-show`);
          console.log(`Error Catch Code`, error.code);
          console.log(`Error Catch Message`, error.message);
        });

    }
    if (displayNameValid === false || phoneNumberValid === false || emailValid === false || passwordValid === false) {
      event.preventDefault();
    }
  });

  /* <button class="logout ">logout</button> */
  // logging  out
  const logoutButton = document.querySelector(".logout");
  logoutButton.addEventListener("click", (event) => {
    event.preventDefault();
    signOut(Auth)
      .then(() => {
        console.log("User Signed Out This Massage From Button Log Out");
      })
      .catch((err) => {
        console.log(err.message);
      });
  });


  // SignIn
  // js Form Validate
  let formSignIn = document.querySelector(`#form-signIn`);
  let emailInputSignIn = document.querySelector(`#form-signIn [name='email']`);
  let passwordInputSignIn = document.querySelector(`#form-signIn [name='password']`);

  // Form Error
  let errorFormSignIn = document.querySelector(`#form-signIn .error-form-signIn`);
  let errorFormTextSignIn = document.querySelector(`#form-signIn .error-form-signIn .inner-error`);
  let errorFormInputSignIn = document.querySelector(`#form-signIn .error-form-signIn .input-name-error`);
  let errorFormIconCloseSignIn = document.querySelector(`#form-signIn .error-form-signIn .close-icon`);
  errorFormIconCloseSignIn.addEventListener(`click`, () => {
    errorFormSignIn.classList.remove(`error-form-show`);
  });

  //- Sign In
  formSignIn.addEventListener("submit", (e) => {
    e.preventDefault();
    // Check Input Validity
    let emailValid = false;
    let passwordValid = false;

    //=> Ø§Ù„ØªØ­Ù‚Ù‚ Ù…Ù† ØµØ­Ø© Ø§Ù„Ø¨Ø±ÙŠØ¯ Ø§Ù„Ø¥Ù„ÙƒØªØ±ÙˆÙ†ÙŠ
    //=> Email Validation
    const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    if (emailInputSignIn.value === ``) {
      //=> Condition: Input Is Not Empty
      errorFormInputSignIn.textContent = `Check Email`;
      errorFormTextSignIn.textContent = "Error Email Is Empty";
      errorFormSignIn.classList.add(`error-form-show`);
    } else if (!regex.test(emailInputSignIn.value)) {
      //=> Condition: Input Email Validation
      errorFormInputSignIn.textContent = `Check Email`;
      errorFormTextSignIn.textContent = "The Email Is Not Valid";
      errorFormSignIn.classList.add(`error-form-show`);
    } else if (emailInputSignIn.value !== ``) {
      //=> All Condition Is Ok
      emailValid = true;
    }
    //=> Password Condition
    if (passwordInputSignIn.value === ``) {
      //=> Condition: Input Is Not Empty
      errorFormInputSignIn.textContent = `Check Password`;
      errorFormTextSignIn.textContent = "Error Password Is Empty";
      errorFormSignIn.classList.add(`error-form-show`);
    } else if (passwordInputSignIn.value.trim().length <= 10) {
      //=> Condition: Input Is Not Empty
      errorFormInputSignIn.textContent = `Check Password`;
      errorFormTextSignIn.textContent =
        "Error Password Must To Be Greater Than 10 Characters";
      errorFormSignIn.classList.add(`error-form-show`);
    } else if (passwordInputSignIn.value.trim() !== ``) {
      passwordValid = true;
    }
    //=> All Condition Is Ok
    if (emailValid === true && passwordValid === true) {
      //- Input Value
      const email = formSignIn.email.value;
      const password = formSignIn.password.value;

      //-  SignUp Use 
      signInWithEmailAndPassword(Auth, email, password)
        .then((cred) => {
          console.log("user Sign In Again:", cred.user);
          let sectionSignIn = document.querySelector(`body section.signIn`);
          sectionSignIn.classList.toggle(`show-signIn`);
          errorFormSignIn.classList.toggle(`error-form-show`);
          formSignIn.reset();
        })
        .catch((err) => {
          passwordInputSignIn.textContent = `Check Email`;
          errorFormTextSignIn.textContent = `The Email Is ${err.message}`;
          errorFormSignIn.classList.add(`error-form-show`);
          console.log(err.message);
        });
    }
    if (emailValid === false || passwordValid === false) {
      console.log("emailValid: ", emailValid);
      console.log("passwordValid: ", passwordValid);
      event.preventDefault();
    }
  });




  // Subscribing To Auth Changes  
  onAuthStateChanged(Auth, (user) => {
    if(user){
      //- console.log("User Status Changed:", user);
      const userRefUid = doc(Database, "users", user.uid); 
      //- console.log('user.uid: ', user.uid);
      //- console.log('userRefUid: ', userRefUid);
      //- console.log('userRefUid: ', userRefUid);

      onSnapshot(userRefUid, (doc) => {
        //- console.log('doc: ', doc); console.log('doc Data: ', doc.data()); console.log('doc: Id', doc.id);
        const { photoURL, displayName, phoneNumber, email } = doc.data();

        // Section Profile Detils
        let profileDetails = document.querySelector('body .profile .box-profile');
        let innerProfileBox  = document.createElement(`div`);;
        innerProfileBox.innerHTML = `
          <div class="img-displayName">
            <div class="img">
              <label class="form-label" for="box-profile-img">PhotoURL</label>
              <img class="box-profile-img" alt="Profile Image" id="box-profile-img" src="${photoURL}">
            </div>
            <div class="displayName">
              <label class="form-label" for="inputDisplayNameUser">displayName</label>
              <input class="form-control" type="text" name="inputDisplayNameUser" id="inputDisplayNameUser" value="${displayName}">
            </div>
          </div>
          <div class="phoneNumber-email-password">
            <div class="phoneNumber">
              <label class="form-label" for="inputPhoneNumberUser">PhotoURL</label>
              <input class="form-control" type="tel" name="inputPhoneNumberUser" id="inputPhoneNumberUser" value="${phoneNumber}">
            </div>
            <div class="email">
              <label class="form-label" for="inputEmailUser">Email</label>
              <input class="form-control" type="text" name="inputEmailUser" id="inputEmailUser" value="${phoneNumber}">
            </div>
            <div class="password">
              <label class="form-label" for="inputPasswordUser">password</label>
              <input class="form-control" type="text" name="inputPasswordUser" id="inputPasswordUser">
            </div>
          </div>
          <div class="add-change-user">
            <button class="send-change-user">send-change-user</button>
          </div>`;
        //- let profileImage = document.querySelector('body .profile .box-profile-img');
        //- let profileDisplayName = document.querySelector('body .profile #inputDisplayNameUser');
        //- profileImage.src = photoURL;
        //- profileDisplayName.value = displayName;
        if (!profileDetails) {
          console.error('No element found with ID "profile-details"');
        } else {
          profileDetails.appendChild(innerProfileBox);
        }
      });


      //- Four Links Header Profile
      if(user.displayName !== null){
        document.querySelector("body .profile-menu-name").innerHTML = user.displayName;
      }

      // 
      if(user.photoURL !== null){
        document.querySelector(".profile-menu-image").src = user.photoURL;
      } 
      //- let docRef = doc(Database, "users", user.uid, "postsDoctor");
      //- let docRef = doc(Database, "users", user.uid);
      let colRefUsersUid = doc(colRefUsers, user.uid); 
      //- console.log('colRefUsersUid: ', colRefUsersUid);
      //- console.log('user.uid: ', colRefUsersUid);
      let line = "ðŸ“Œ".repeat(30);
      //- console.log('colRefUsersUid: ', colRefUsersUid);
      //- console.log(` %c${line} `, "color: #1cd07c; font-size: 16px");

      // Variables Create Post
      let formCreatePost = document.querySelector(`#form-createPost`);
      let inputSelectImagesCreatePost = document.querySelector(`#form-createPost #inputSelectImages`);
      let inputTitlePostCreatePost = document.querySelector(`#form-createPost #inputTitlePost`);
      let inputDescriptionPostCreatePost = document.querySelector(`#form-createPost #inputDescriptionPost`);
      let selectPurviewCreatePost = document.querySelector(`#form-createPost #selectPurview`);
      let selectReadingCreatePost = document.querySelector(`#form-createPost #selectReading`);

      // Massage Error Create Post
      let errorFormCreatePost = document.querySelector(`#form-createPost .error-form-createPost`);
      let errorFormTextCreatePost = document.querySelector(`#form-createPost .error-form-createPost .inner-error`);
      let errorFormInputCreatePost = document.querySelector(`#form-createPost .error-form-createPost .input-name-error`);
      let errorFormIconCloseCreatePost = document.querySelector(`#form-createPost .error-form-createPost .close-icon`);

      // Preview Create Post
      let viewImagesCreatePost = document.querySelector(`.view-post #view-post-images`);
      let viewUploadProgressCreatePosts = document.querySelector(`.view-post .view-post-ImgUploadProgress`);
      let viewTitleCreatePost = document.querySelector(`.view-post .view-post-title`);
      let viewDescriptionCreatePost = document.querySelector(`.view-post .view-post-description`);
      let viewPurviewCreatePost = document.querySelector(`.view-post .view-post-purview`);
      let viewReadingCreatePost = document.querySelector(`.view-post .view-post-reading`);


      // Close Error
      errorFormIconCloseCreatePost.addEventListener(`click`, () => {
        errorFormCreatePost.classList.remove(`error-form-show`);
      });

      // On Input To Type Text & Select Get Value To Show On Div View Post
      inputSelectImagesCreatePost.addEventListener('blur', (event) => {
        var img = document.createElement(`img`);
          img.src = event.target.value;
          viewImagesCreatePost.append(img);
      });
      inputTitlePostCreatePost.addEventListener('input', (event) => {
        viewTitleCreatePost.innerHTML = event.target.value;
      });
      inputDescriptionPostCreatePost.addEventListener('input', (event) => {
        viewDescriptionCreatePost.innerHTML = event.target.value;
      });
      selectPurviewCreatePost.addEventListener('input', (event) => {
        viewPurviewCreatePost.innerHTML = event.target.value;
      });
      selectReadingCreatePost.addEventListener('input', (event) => {
        viewReadingCreatePost.innerHTML = event.target.value;
      });

      formCreatePost.addEventListener(`submit`, (e)=>{
        // Check Input Validity
        let imageValid = false;
        let titleValid = false;
        let descriptionValid = false;
        let purviewValid = false;
        let readingValid = false;

        // User Id
        let colRefUsersUid =  collection(Database, "users", user.uid);
        //- console.log('colRefUsersUid: ', colRefUsersUid);

        // Condition => The Images Logger Then 0
        if (inputSelectImagesCreatePost.value <= 0) {
          errorFormInputCreatePost.textContent = `Check Image`;
          errorFormTextCreatePost.textContent = "Error Image Is Empty";
          errorFormCreatePost.classList.add(`error-form-show`);
        } else if (inputSelectImagesCreatePost.value >= 1) {
          imageValid = true;
        }
        // Condition => Title Post
        if (inputTitlePostCreatePost.value === ``) {
          // Condition || Input Is Not Empty
          errorFormInputCreatePost.textContent = `Check Title`;
          errorFormTextCreatePost.textContent = "Error Title Is Empty";
          errorFormCreatePost.classList.add(`error-form-show`);
        } else if (inputTitlePostCreatePost.value.length <= 10) {
          // Condition || Input Value Length Smaller Than 10 Chars
          errorFormInputCreatePost.textContent = `Check Title`;
          errorFormTextCreatePost.textContent = "Error Title Is Smaller Than 10 Chars";
          errorFormCreatePost.classList.add(`error-form-show`);
        } else if (inputTitlePostCreatePost.value !== ``) {
          //=> All Condition Is Ok
          titleValid = true;
        }
        // Condition => Description Post
        if (inputDescriptionPostCreatePost.value === ``) {
          // Condition || Input Is Not Empty
          errorFormInputCreatePost.textContent = `Check Title`;
          errorFormTextCreatePost.textContent = `Error Description Is Empty`;
          errorFormCreatePost.classList.add(`error-form-show`);
        } else if (inputDescriptionPostCreatePost.value.length <= 10) {
          // Condition || Input Value Length Smaller Than 10 Chars
          errorFormInputCreatePost.textContent = `Check Description`;
          errorFormTextCreatePost.textContent = "Error Description Is Smaller Than 10 Chars";
          errorFormCreatePost.classList.add(`error-form-show`);
        } else if (inputDescriptionPostCreatePost.value !== ``) {
          //=> All Condition Is Ok
          descriptionValid = true;
        }
        // Condition => Purview Post
        if (viewPurviewCreatePost.value !== ``) {
          purviewValid = true;
        }
        // Condition => Reading Post
        if (viewReadingCreatePost.value !== ``) {
          readingValid = true;
        }

        // => All Condition Is Ok
        if (imageValid === true && titleValid === true && descriptionValid === true && purviewValid === true && readingValid === true) {
          let title = formCreatePost.inputTitlePost.value;
          let description = formCreatePost.inputTitlePost.value;
          let purview = formCreatePost.selectPurview.value;
          let reading = formCreatePost.selectReading.value;
          //- Add User To Collection Create Post
          let userRef = doc(Database, "users", userId);
          let line = "ðŸ“Œ".repeat(30);
          console.log(` %c${line} `, "color: #1cd07c; font-size: 16px");
          console.log('userRef: ', userRef);
          console.log(` %c${line} `, "color: #1cd07c; font-size: 16px");
          event.preventDefault();
        }
        // Prevent Default || Send Form Post
        if(imageValid === false ||titleValid === false || descriptionValid === false || purviewValid === false || readingValid === false){
          event.preventDefault();
        } 
      });

      // => Setup Profile Ui User
      //- setupProfileUi(user);
      const loggedUsers  = document.querySelectorAll('body .logged-user');
      loggedUsers.forEach(item => item.style.display = 'block');
      const notLoggedUsers = document.querySelectorAll('body .not-logged-user');
      notLoggedUsers.forEach(item => item.style.display = 'none');

    } else {
      document.querySelector("body .profile-menu-name").innerHTML = 'Unknown Name';
      console.log("User Signed Out From Subscribing To Auth Changes");
      document.querySelector("body .profile-menu-image").src = `https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_hipster_guy-512.png`;
      //- setupProfileUi([]);
      const loggedUsers  = document.querySelectorAll('body .logged-user');
      loggedUsers.forEach(item => item.style.display = 'none');
      const notLoggedUsers = document.querySelectorAll('body .not-logged-user');
      notLoggedUsers.forEach(item => item.style.display = 'block');
    }
  });
  let inner = document.querySelectorAll('body .profile .box-profile');
  function showuserDetils(movies) {
    movies.forEach((movie) => {
      const { title, imgUrl, id } = movie;
      let movieEl = document.createElement("div");
      movieEl.classList.add("movie");
      movieEl.innerHTML = `
      <img src="${imgUrl}" alt="${title}" />
      <div class="title">${title}</div>
      <span class='delete-icon' data-id='${id}'>
        <i class="fas fa-trash"></i>
      </span>
      `;
      inner.appendChild(movieEl);
    });
  }


  // Short Title
  //- function getShortTitle() {
  //-   let Title = inputTitlePost.value.substring(0,50);
  //-   return Title.replace(/[^a-zA-Z0-9]/g,"");
  //- }

  //
  //- function GetImgUploadProgress(){
  //-   return `Images Upload ${ImagesLinksArray.length} Of ${Files.length}`;
  //- }

  //
  //- function IsAllImagesUploaded(){
  //-   return ImagesLinksArray.length ==  Files.length;
  //- }


  // ØªØ­Ù…ÙŠÙ„ Ø¬Ù…ÙŠØ¹ Ø§Ù„ØµÙˆØ± Ø¥Ù„Ù‰ Firebase Storage
  //- function uploadAllImages(imgToUpload, imgNumber) {
  //-   // Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„ÙˆØµÙ
  //-   let metadata = { contentType: imgToUpload.type };
  //-   // Ø§Ù„Ø­ØµÙˆÙ„ Ø¹Ù„Ù‰ Ù…Ø³Ø§Ø± Ø§Ù„ØªØ®Ø²ÙŠÙ† Ù„Ù„ØµÙˆØ±Ø©
  //-   let imageAddress = `TheImages/${getShortTitle()}/img#${imgNumber + 1}`;
  //-   const storage = getStorage();
  //-   const storageRef = ref(storage, imageAddress);

  //-   // Ø±ÙØ¹ Ø§Ù„Ù…Ù„Ù ÙˆØ§Ù„ÙˆØµÙ
  //-   const uploadTask = uploadBytesResumable(storageRef, imgToUpload, metadata);

  //-   // ØªØ­Ø¯ÙŠØ« Ø­Ø§Ù„Ø© ØªØ­Ù…ÙŠÙ„ Ø§Ù„ØµÙˆØ±Ø©
  //-   uploadTask.on(`state_changed`, (snapshot) => {
  //-     ImgUploadProgress.innerHTML = GetImgUploadProgress();
  //-   },
  //-     // Ø¹Ø±Ø¶ Ø±Ø³Ø§Ù„Ø© Ø®Ø·Ø£ ÙÙŠ Ø­Ø§Ù„Ø© ÙØ´Ù„ ØªØ­Ù…ÙŠÙ„ Ø§Ù„ØµÙˆØ±Ø©
  //-     (error) => {
  //-       alert(`Error: Image Upload Failed`);
  //-     },
  //-     // Ø¹Ø±Ø¶ Ø±Ø§Ø¨Ø· Ø§Ù„ØµÙˆØ±Ø© Ø¨Ø¹Ø¯ Ø±ÙØ¹Ù‡Ø§ Ø¨Ù†Ø¬Ø§Ø­ ÙˆØ¥Ø¶Ø§ÙØªÙ‡Ø§ Ø¥Ù„Ù‰ Ù‚Ø§Ø¦Ù…Ø© Ø±ÙˆØ§Ø¨Ø· Ø§Ù„ØµÙˆØ±
  //-     () => {
  //-       getDownloadURL(uploadTask.snapshot.ref).then((downloadURL) => {
  //-         ImagesLinksArray.push(downloadURL);
  //-         // Ø¥Ø°Ø§ ØªÙ… Ø±ÙØ¹ Ø¬Ù…ÙŠØ¹ Ø§Ù„ØµÙˆØ± Ø¨Ù†Ø¬Ø§Ø­ØŒ ÙØ¹Ø±Ø¶ Ø±Ø³Ø§Ù„Ø© ØªØ£ÙƒÙŠØ¯
  //-         if (IsAllImagesUploaded) {
  //-           ImgUploadProgress.innerHTML = ` All Images Uploaded `;
  //-         }
  //-       })
  //-     });
  //- }




  /*
  formCreatePost.addEventListener(`submit`, (e) => {
    // References 
    // Files Ø§Ù„Ù…Ù„ÙØ§Øª Ø§Ù„ØªÙ‰  Ø³ØªØ­ØªÙØ¸ Ø¨ØµÙˆØ±Ù†Ø§
    //- let Files = [];
    // Ù‚Ø§Ø±Ø¦Ø§Øª Ø§Ù„Ù…Ù„ÙØ§Øª Ø§Ù„ØªÙŠ Ø³ØªØ­ØªÙØ¸ Ø¨Ø¨Ø¹Ø¶ Ø§Ù„Ø£Ø­Ø¯Ø§Ø« Ø§Ù„Ù…Ø·Ù„ÙˆØ¨Ø© Ù„Ù„ØµÙˆØ± Ù„Ø¥Ø¸Ù‡Ø§Ø±
    //- let FileReaders = [];
    // Ø±ÙˆØ§Ø¨Ø· Ø§Ù„ØµÙˆØ±
    //- let ImagesLinksArray = [];


    // Function || Ø¥Ù†Ø´Ø§Ø¡ ÙØ§Ù†ÙƒØ´Ø§Ù† Ù„ÙØªØ­  Ù„Ø§Ù†Ø´Ø§Ø¡ Ø­Ù‚Ù„ Ø§Ù„ÙÙŠÙ„ Ù„Ø§Ø®ØªÙŠØ§Ø± Ø§Ù„Ù…Ù„Ù
    //- function OpenFileDialog(){
    //-   let inp = document.createElement(`input`);
    //-   inp.type = `file`
    //-   inp.multiple = `multiple`
    //-   inp.onchange = (e)=>{
    //-     AssignImagesToFilesArray(e.target.files);
    //-     CreateImgTags();
    //-   }
    //-   inp.click();
    //- }

    // Function => Choose How Many Image You Want To Upload
    //- function AssignImagesToFilesArray(theFiles){
    //-   let howManyImage = Files.length + theFiles.length; 
    //-   let loopLim = howManyImage <= 10 ? theFiles.length : 10 - Files.length;
    //-   for(let i =0; i < loopLim; i++){
    //-     Files.push(theFiles[i]);
    //-   } 
    //-   if(howManyImage > 10) {
    //-     // Condition || Input Value Length Smaller Than 10 Chars
    //-     errorFormInputCreatePost.textContent = `Check Choose File`;
    //-     errorFormTextCreatePost.textContent = "Error File Maximum 10 Images Are Allowed!";
    //-     errorFormCreatePost.classList.add(`error-form-show`);
    //-   }
    //- }

    // Function || To View Image On Div View Image
    //- function CreateImgTags(){
    //-   viewImagesCreatePost.innerHTML=``;
    //-   for(let i = 0; i< Files.length; i++ ){
    //-     FileReaders[i] = new FileReader();
    //-     FileReaders[i].onload = function(){
    //-       var img = document.createElement(`img`);
    //-       img.id = `imgNo${i}`;
    //-       img.classList.add(`img`);
    //-       img.src = FileReaders[i].result;
    //-       viewImagesCreatePost.append(img);
    //-     }
    //-     FileReaders[i].readAsDataURL(Files[i]);
    //-   }
    //- }

    // Open Function => Choose Image & View Image
    //- buttonSelectImagesCreatePost.addEventListener(`click`, OpenFileDialog);




      console.log(`Good Is`);
      event.preventDefault();


      addDoc(colRefCreatePostDoctor, {
        imageUrl: UploadAllImages,
        title: title,
        description: inputDescriptionPost,
        purview: purview,
        reading: reading,
        createdAt: serverTimestamp(),
      })
        .then(() => {
          formCreatePost.reset();
          let sectionCreatePost = document.querySelector(`section[class='signUp']`);
          sectionCreatePost.classList.toggle(`show-signUp`);
        })
        .catch((error) => {
          console.log(error)
          errorFormInputCreatePost.textContent = `Check Form Create Post`;
          errorFormTextCreatePost.textContent = `Error ${error}`;
          errorFormCreatePost.classList.add(`error-form-show`);
        });

    }


    });
  */



